/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color: #101010;
  --secondary-color: #d3be6b;
  --hover-color: #ffffff;
  --dropdown-bg: #f9f9f9;
  --dropdown-hover-bg: #f1f1f1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px; /* Updated height */
  padding: 0 2rem;
  background-color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 1000;
}

.navbar-logo img {
  height: 100px;
  width: 158px;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s ease;
  font-weight: 300;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}

.navbar-links a:hover {
  color: var(--hover-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #ffffff1a;
}

@media (min-width: 769px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.dropdown-icon {
  margin-left: 5px;
}

.navbar-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-burger div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 3px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 100px; /* Adjusted to match the new height */
    left: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    display: none;
  }
  .navbar-logo img {
    height: 70px;
    width: 100px;
  }
  .navbar {
    height: 70px; /* Updated height */
  }
  .navbar-links {
    top: 70px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    text-align: left;
    padding: 1rem 2rem;
    margin: 0;
  }

  .navbar-burger {
    display: flex;
  }

  .navbar-burger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar-burger.active div:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .dropdown-content {
    position: static;
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown.active .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    padding-left: 3rem;
  }
}
