.gents-container {
  background-color: #f4f4f4; /* Light background for contrast */
  padding-bottom: 50px; /* Add padding at the bottom of the entire container */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.gents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Responsive grid */
  gap: 30px; /* Space between cards */
  padding: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  width: 100%; /* Ensure full width is taken within the grid */
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Elevate the card on hover */
}

.product-image {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-image {
  transform: scale(1.05); /* Zoom in the image slightly on hover */
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #333;
}

.product-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.know-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  margin-right: 10px;
}

.know-more:hover {
  color: #0056b3;
}

.sold-out {
  background-color: red;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* Responsive tweaks for tablets and smaller screens */
@media (max-width: 1024px) {
  .gents-grid {
    grid-template-columns: repeat(auto-fit, minmax(443.2px, 1fr)); /* For tablets */
  }

  .product-card {
    width: 443.2px;
    height: 748.66px;
  }
}

@media (max-width: 768px) {
  .gents-grid {
    grid-template-columns: repeat(auto-fit, minmax(309.2px, 1fr)); /* For mobile */
  }

  .product-card {
    width: 309.2px;
    height: 585.24px;
  }
}

/* For very small screens (mobile devices) */
@media (max-width: 576px) {
  .gents-grid {
    grid-template-columns: 1fr; /* Ensure there's only one card per row */
  }

  .product-title {
    font-size: 1.2rem;
  }

  .product-card {
    margin-bottom: 30px;
  }

  .product-card {
    width: 100%;
  }
}

/* Desktop-specific dimensions */
@media (min-width: 1025px) {
  .gents-grid {
    grid-template-columns: repeat(auto-fit, minmax(347.3px, 1fr)); /* For desktops */
  }

  .product-card {
    width: 347.3px;
    /* height: 611.54px; */
  }
}
